* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
nav {
	width: 80%;
	position: sticky;
	margin: 20px auto;
	z-index: 1;
	display: flex;
	align-items: center;
}
.logo {
	flex-basis: 20%;
}
.logo img {
	width: 150px;
}
.nav-links {
	flex: 1;
	text-align: right;
}
.nav-links ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.nav-links ul li a {
	color: #ffffff;
	text-decoration: none;
}
.information {
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 50%;
	left: -10%;
	transform: translateY(-50%);
}
#circle {
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	transform: rotate(0deg);
	transition: 1s;
}
.feature img {
	width: 70px;
}
.feature {
	position: absolute;
	display: flex;
	color: #ffffff;
}
.feature div {
	margin-left: 30px;
}
.feature div p {
	margin-top: 8px;
}
.one1 {
	top: 451px;
	right: 50px;
}
.two1 {
	top: 160px;
	left: 333px;
	transform: rotate(-90deg);
}
.three1 {
	bottom: 451px;
	left: 104px;
	transform: rotate(-180deg);
}
.four1 {
	bottom: 173px;
	right: 348px;
	transform: rotate(-270deg);
}
.one2 {
	top: 452px;
	right: 178px;
}
.two2 {
	top: 227px;
	left: 366px;
	transform: rotate(-90deg);
}
.three2 {
	bottom: 452px;
	left: 137px;
	transform: rotate(-180deg);
}
.four2 {
	bottom: 221px;
	right: 360px;
	transform: rotate(-270deg);
}
.one3 {
	top: 451px;
	right: 213px;
}
.two3 {
	top: 264px;
	left: 401px;
	transform: rotate(-90deg);
}
.three3 {
	bottom: 452px;
	left: 138px;
	transform: rotate(-180deg);
}
.four3 {
	bottom: 263px;
	right: 400px;
	transform: rotate(-270deg);
}
.one4 {
	top: 451px;
	right: 43px;
}
.two4 {
	top: 160px;
	left: 333px;
	transform: rotate(-90deg);
}
.three4 {
	bottom: 451px;
	left: 103px;
	transform: rotate(-180deg);
}
.four4 {
	bottom: 173px;
	right: 350px;
	transform: rotate(-270deg);
}
.mobile {
	width: 250px;
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translateY(-50%);
	z-index: 1;
}
.controls {
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
.controls h3 {
	margin: 15px 0;
	color: #ffffff;
}
#upBtn {
	width: 15px;
	cursor: pointer;
}
#downBtn {
	width: 15px;
	cursor: pointer;
	transform: rotate(180deg);
}
.overlay {
	width: 0;
	height: 0;
	border-top: 500px solid #ffffff;
	border-right: 500px solid transparent;
	border-bottom: 500px solid #ffffff;
	border-left: 500px solid #ffffff;
	position: absolute;
	left: 0;
	top: 0;
}
#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	overflow: -moz-hidden-unscrollable;
	min-width: 0%;
	min-height: 0%;
	z-index: -100;
	width: 100%;
	height: 100%;
	object-fit: fill;
	display: flex;
}
